$citr-primary: mat-palette($mat-indigo, 800, 300, 900);
$citr-accent: mat-palette($mat-light-blue);
$citr-warn: mat-palette($mat-pink, 600);

$citr-theme: mat-light-theme($citr-primary, $citr-accent, $citr-warn);
