$citr-light-primary: mat-palette($mat-grey, 200, 500, 300);
$citr-light-accent: mat-palette($mat-brown, 200);
$citr-light-warn: mat-palette($mat-deep-orange, 200);

$citr-light-theme: mat-light-theme(
  $citr-light-primary,
  $citr-light-accent,
  $citr-light-warn
);
