$citr-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$citr-nature-accent: mat-palette($mat-deep-purple, 300);
$citr-nature-warn: mat-palette($mat-red, 600);

$citr-nature-theme: mat-light-theme(
  $citr-nature-primary,
  $citr-nature-accent,
  $citr-nature-warn
);
